body {
    margin: 0;
}

.div1 {
    background-color: #DDE8F0;
    width: 100%;
    height: 750px;
}

.div2 {
    background-color: #004581;
    width: 100%;
    height: 750px;
}

.div3 {
    background-color: #97CBDC;
    width: 100%;
    height: 750px;
}

.div4 {
    background-color: #018ABD;
    width: 100%;
    height: 750px;
}