body {
    margin: 0;
}

.latar {
    width: 100%;
    height: 750px;
}

.pertama {
    background-color: #DDE8F0;
}

.kedua {
    background-color: #004581;
}

.ketiga {
    background-color: #97CBDC;
}

.keempat {
    background-color: #018ABD;
}